html {
  font-family: Verdana;
  background-color: #000;
}

body {
  color: #fff;
  text-align: center;
}

h1 {
  font-size:50px;
  text-align: center;
  font-weight: normal;
}

a {
  color: aquamarine;
  display: block;
  margin-bottom: 2em;
}
p {
  color: gray;
  font-size: 21pt;
}

footer p {
  text-align: right;
}

img {
  width:500px;
  height:300px;
  background-color: gray;
}

video {
  background-color: gray;
}